.navbar-color {
    background-color: #8079e0; /* Color de fondo personalizado */
  }
  
  .link-unstyled {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Usa el color heredado (generalmente, el color predeterminado) */
  }
  
  .center-button {
    text-align: center;
  }

  .margen-contenedor {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }